.projects {
  display: flex;
  align-items: center;
  padding: 5vh;
  flex-wrap: wrap;
  justify-content: center;
}

.hover-card {
  position: relative;
  height: 48vh;
  width: 65vw;
  width: fit-content;
  margin-left: 5vw;
  margin-top: 5vh;
 

}

.hover-content {
  width: auto;
  position: absolute;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.hover-card:hover .hover-content {
  visibility: visible;
  opacity: 1;
 
}