.projects{
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.project-card{
    margin-left: 5vw;
    margin-top: 5vh;
    position: relative;

}

.project-card:hover{
    transform: scale(1.08);
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  /* .project-card:hover .card-overlay {
    opacity: 1;
  } */
  
  .card-info {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background: transparent;
    padding: 8px;
    color: white;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
  }
  
  /* .project-card:hover .card-info {
    opacity: 0.5;
  } */