.banner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.banner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
    margin-left: 2vw;

}


.banner-img-head {
    height: auto;
    width: auto;
    border-radius: 60%;
    border: 1px solid rgb(120, 176, 199);
}

.banner-img {
    width: 15vw;
    height: 30vh;
    border-radius: 60%;
}

.introduction {
    font-size: 3em;
    font-weight: 700;
    line-height: 20px;
    color: rgb(63, 61, 61);
}

.sub-introduction {
    font-size: 2em;
    font-weight: 700;
    line-height: 15px;
    color: rgb(63, 61, 61);
    margin-top: 10vh;
    animation: slideIn 1s ease forwards;
    opacity: 0;
}


.horizontal-list {
    display: flex;
    justify-content: space-around;
    font-size: 1em;
    font-weight: 700;
    line-height: 11px;
    color: rgb(120, 176, 199);
}

.projects-button {

    font-size: 1rem;
    font-weight: 500;
    padding: 1vh;
    color: rgb(59, 54, 54);
    background: rgb(255, 255, 255);
    border-radius: 5px;
    width: 14vw;
    border: 1px solid rgb(154, 231, 227);
    height: 6vh;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgb(120, 176, 199);

}

.projects-button:hover {
    color: rgb(59, 54, 54);
    background: rgb(248, 244, 244);
    border: 1px solid rgb(154, 231, 227);
    
}

.animation {
    animation: slideInFromBottom 1s ease-in-out;
    /* Apply the fade-in animation */
    /* Initially set the opacity to 0 */
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animation-btn {
    animation: slideInFromBottom 1s;
    animation-delay: 6.5s;
    animation-fill-mode: backwards;
}


@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 767px) {
    .introduction {
        margin-top: 4vh;
        font-size: 1.5em;
        font-weight: 400;
        line-height: 14px;
        font-weight: 700;
    }

    .projects-button {
        font-size: 1em;
        width: 45vw;
    }

    .horizontal-list {
        display: flex;
        justify-content: space-around;
        font-size: 1em;
        font-weight: 700;
        line-height: 10px;
        color: rgb(120, 176, 199);
    }

    .horizontal-list li {
        margin-right: 6vw;

    }

    .banner-img-head{
        display: none;
    }



}